@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}